/**
 * Type: Molecules.
 * Burger.
 */

.burger {
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-size: var(--base-font-size-extra-small);
  cursor: pointer;

  @media (--viewport-md-min) {
    display: none;
  }

  &__lines {
    > span {
      display: block;
      width: 25px;
      height: 2px;
      margin-bottom: 5px;
      background-color: var(--color-white);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__label {
    margin-left: 15px;
    font-weight: 300;
    font-size: var(--base-font-size-extra-small);

    @media (--viewport-md-min) {
      display: none;
    }
  }
}
