/**
 * Type: Molecules.
 * Search toggle.
 */

.search-toggle {
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 300;
  font-size: var(--base-font-size-extra-small);
  cursor: pointer;

  @media (--viewport-md-min) {
    height: 70%;
    margin-left: 40px;
    padding-left: 40px;
    font-size: var(--base-font-size);
    border-left: solid 1px var(--color-gray);
  }

  .icon--search {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    fill: var(--color-primary);
  }
}
