<div{{ attributes.addClass('inline-navigation') }}>
  <ul class="inline-navigation__list js-inline-navigation-slider">
    {% for element in elements %}
    <li>{{ element }}</li>
    {% endfor %}
  </ul>
</div>
