/**
 * Type: Base.
 * Variables.
 */

:root {
  /* Colors
  ********************/
  --color-primary: #00687f;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #b0afaf;
  --color-gray-light: #f5f5f5;
  --color-gray-dark: #272727;
  --color-gray-dark-1: #232323;
  --color-error: #f00;
  --color-red: #c70f46;
  --color-pink: #f2cbce;
  --color-pink-light: #fbdace;
  --color-purple: #3d2859;
  --color-purple-dark: #1f0640;
  --color-blue: #408e9f;
  --color-blue-ice: #85cddb;
  --color-blue-light: #f2fafc;
  --color-yellow: #ffce42;
  --color-yellow-light: #ffe6a0;
  --color-yellow-dark: #f2b300;
  --color-orange: #f69e4b;
  --color-orange-dark: #e08a39;
  --color-green: #008c5d;
  --color-green-dark: #1c6153;

  /* Default theme-colors
  ********************/
  --theme-background-color: var(--color-white);
  --theme-color: var(--color-black);
  --theme-button-background-color: var(--color-pink);
  --theme-button-color: var(--color-purple);
  --theme-link-color: var(--color-black);
  --theme-divider-background-color: var(--color-black);
  --theme-accordion-color: var(--color-purple);
  --theme-input-border: #e5e3de;
  --theme-input-border-dark: var(--color-purple);
  --theme-input-color-marked: var(--color-primary);
  --theme-status-message-background-color: #c6c6c6;
  --theme-status-message-background-color-status: #dff0d8;
  --theme-status-message-color-status: #3c763d;
  --theme-status-message-background-color-warning: #fcf8e3;
  --theme-status-message-color-warning: #8a6d3b;
  --theme-status-message-background-color-error: #fce3e3;
  --theme-status-message-color-error: #763c3c;

  /* Typography
  ********************/
  --base-font-family: "Nunito", "sans-serif";
  --base-font-size-xxxxxlarge: 56px;
  --base-font-size-xxxxlarge: 48px;
  --base-font-size-xxxlarge: 40px;
  --base-font-size-xxlarge: 30px;
  --base-font-size-xlarge: 24px;
  --base-font-size-large: 20px;
  --base-font-size-medium: 18px;
  --base-font-size: 16px;
  --base-font-size-small: 14px;
  --base-font-size-extra-small: 12px;
  --base-font-weight: 300;
  --heading-font-family: "Baloo 2", "sans-serif";
  --heading-font-weight: 700;

  /* Layout
  ********************/
  --site-background-color: var(--color-white);
  --container-width: 1560px;
  --grid-section-spacing: 100px;
  --grid-section-spacing-mobile: calc(var(--grid-section-spacing) / 2);
  --gutter-width: 36px;
  --gutter-width-mobile: 48px;
  --half-gutter-width: calc(var(--gutter-width) * .5);
  --half-gutter-width-mobile: calc(var(--gutter-width-mobile) * .5);
  --half-gutter-compensation: calc(var(--half-gutter-width) * -1);
  --half-gutter-compensation-mobile: calc(var(--half-gutter-width-mobile) * -1);
  --container-spacing-mobile: 24px;
  --container-spacing: 18px;

  /* Header */
  --header-height: 95px;
  --header-height-mobile: 80px;

  /* Meta menu */
  --meta-menu-height: 40px;
}
