.article-page {
  &__hero {
    width: 100%;
    height: 440px;

    picture,
    img {
      display: block;
      height: inherit;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__description {
    margin-bottom: 24px;
    font-size: var(--base-font-size-medium);
  }

  &__image {
    margin-bottom: 24px;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
