/**
 * Type: Organisms.
 * Header.
 */

/* When user is logged in, we remove fixed from header */
body.adminimal-admin-toolbar header.header {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  color: var(--color-white);
  font-weight: 500;
  font-family: var(--heading-font-family);
  background-color: var(--color-primary);
  box-shadow: 0 25px 75px rgb(0 0 0 / 10%);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height-mobile);

    @media (--viewport-md-min) {
      justify-content: flex-end;
      height: var(--header-height);
    }

    .burger {
      order: 2;

      @media (--viewport-md-min) {
        order: 0;
      }
    }
  }

  &-search {
    display: flex;
    max-width: 210px;
    margin: auto;

    &__input-field {
      position: relative;
      width: 100%;
      height: 42px;
      padding: 11px 50px 11px 20px;
      background: var(--color-white);
      border: 1px solid var(--color-blue);
      border-radius: 24px;

      & .input {
        height: 100%;
        padding: 0;
        font-size: var(--base-font-size-small);
        border: none;
      }
    }

    &__submit {
      position: absolute;
      top: 3px;
      right: 3px;
      width: 34px;
      height: 34px;
      padding: 10px;
      background: var(--color-blue);
      border-radius: 50%;
      cursor: pointer;

      & svg.icon {
        width: 14px;
        height: 14px;
        fill: var(--color-white);
      }
    }
  }
}
