/**
 * Type: Theme.
 * Blue theme.
 */

.theme-blue {
  --theme-background-color: var(--color-blue);
  --theme-color: var(--color-white);
  --theme-button-background-color: var(--color-pink);
  --theme-button-color: var(--color-purple);
  --theme-link-color: var(--color-white);
  --theme-divider-background-color: var(--color-white);
  --theme-accordion-color: var(--color-white);
  --theme-input-border: var(--color-white);
  --theme-input-color-marked: var(--color-white);
}
