{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('sis/burger-menu') }}

<nav :class="{ 'burger-menu--open': isOpen }" class="burger-menu" id="js-burger-menu">
  <div @click="closeBurgerMenu()" class="burger-menu__close">
    <div class="burger-menu__close-label">{{ 'Close (Esc)'|t }}</div>
    {% include '@reusable-component/svg-icon.twig' with {
      'attributes': '',
      'svgIconName': 'close'
    } %}
  </div>
  <div class="container">
    <div class="burger-menu__inner">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-6">
          {{ elements.mainnavigation_bm }}
        </div>
        <div class="col-xs-12 col-md-4">
          {{ elements.metamenu_bm }}
        </div>
      </div>
    </div>
  </div>
</nav>
